{% extends 'base.html' %}
{% load static %}
{% block middle_section %}

<div class="row">
  <div class="col-xl-5 shadow mx-auto p-0 border border-primary outer">
    <div class="alert alert-primary mx-auto"><h2 class="bt-cst">Add Task</h2></div>
    <div class="p-4">
      <form method="POST" action="{% url 'createtask' %}">
        {% csrf_token %}
        <table class="s-table">
          {{form.as_table}}
        </table>
        <div class = "text-center">
                  <button type="submit" class="btn btn-primary btn-cst">
                      <h2>Submit</h2>
                  </button>
        </div>
      </form>
    </div>
  </div>
  <div class="col">
    <h1>Hello <span style="text-transform: uppercase;">{{request.user}}</span></h1>{% if tasks %}
    <table class="table table-hover my-2">
      <thead class="thead-light">
        <tr>
          <th>Sr.no</th>
          <th>Title</th>
          <th>Status</th>
          <th>Due Date</th>
          <th>Creation Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for t in tasks %}
        <tr {% if t.status == 'c' %}style="text-decoration: line-through; background-color:#d4edda;" {% else %} style="background-color: #ffc107;" {% endif %}>
          <td>{{forloop.counter}}</td>
          <td>{{t.title}}</td>
          <td>
            <a href="/changestatus/{{t.id}}">
              {% if t.status == 'p' %}  
            <i class="fa fa-square-o text-danger btn m-0 p-0" data-toggle="tooltip" data-placement="bottom" title="Mark as complete" style="font-size:24px;"></i>
          {% else %}
          <i class="fa fa-check-square-o text-success btn m-0 p-0" data-toggle="tooltip" data-placement="bottom" title="Mark as todo" style="font-size:24px;"></i>
          {% endif %}
            </a>
          </td>
          <td>{{t.due_date}}</td>
          <td>{{t.creation_date}}</td>
          <td>
              <a href="/update/{{t.id}}"><i class="fa fa-pencil text-info btn m-0 p-0" data-toggle="tooltip" data-placement="bottom" title="Edit todo" style="font-size:24px;"></i></a>
              <a href="/delete/{{t.id}}"><i class="fa fa-trash-o text-danger btn m-0 p-0" data-toggle="tooltip" data-placement="bottom" title="Delete todo" style="font-size:24px;"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %} <div class="boom text-center">
      <p class="display-4">No Tasks</p>
    </div> {% endif %}
  </div>
</div>

{% endblock middle_section %}
