{% extends 'base.html' %}
{% load static %}
{% block middle_section %}

<div class="col-lg-5  mx-auto p-0 shadow border border-success outer">
    <div class="alert alert-success mx-auto"><h2 class ="bt-cst">Signup</h2></div>
    <div class="p-5">
        <form method="POST">
            {% csrf_token %}
            <table class = "s-table">
                {{form.as_table}}
            </table>
            <button type="submit" class="btn btn-success btn-cst"><h2>Submit</h2></button>
        </form>
    </div>
</div>

{% endblock middle_section %}